on property:twrp.modules.loaded=true
    ######## Add by jason
    # WiFi early-init 阶段 加载内核模块
    # 使用 write 命令直接写入 /dev/kmsg，避免 SELinux 问题
    write /dev/kmsg "[jasonwifi][early-init] WiFi early-init started"
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    ######## Add by jason
    # 准备firmware目录和ini配置
    write /dev/kmsg "[jasonwifi][prepare-files] WiFi prepare started"
    # wpa_supplicant配置目录
    mkdir /data/misc 0777 root shell
    mkdir /data/misc/wifi 0777 root shell
    write /dev/kmsg "[jasonwifi][prepare-files] Directories created"
    write /dev/kmsg "[jasonwifi][prepare-files] WiFi prepare successfully!"
    ######## Add End

on boot
    ######## Add by jason
    # WiFi boot
    write /dev/kmsg "[jasonwifi][boot] Setting Wlan boot env..."
    # 启用 WLAN SSR recovery
    write /sys/kernel/cnss/recovery 3
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    write /dev/kmsg "[jasonwifi][boot] Wlan boot env set done!"
    ######## Add End


on property:post.decrypt.modules=true
    chmod 222 /sys/devices/platform/soc/b0000000.qcom,cnss-kiwi/fs_ready
    write /sys/devices/platform/soc/b0000000.qcom,cnss-kiwi/fs_ready 1
    wait /sys/class/net/wlan0 10
    write /dev/kmsg "Interface wlan0 found"
    setprop wifi.driver.ready true

on property:wifi.driver.ready=true
    mkdir /tmp/recovery 0777 root root
    mkdir /tmp/recovery/sockets 0777 root root
    start wpa_supplicant

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -dd -O/tmp/recovery/sockets -c/vendor/etc/wifi/wpa_supplicant.conf
    disabled
    seclabel u:r:recovery:s0
